# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/.next-*/
/out/

# production
/build
/.deploy-review/
/.netlify/
/build-output.txt
/dev-log.txt

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
firebase-debug.log

# local env files
.env*.local
.env

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# large files
*.zip

# android build artifacts
android/.gradle/
android/build/
android/app/build/
android/local.properties
